/* Card Styling */
body{
  background-color: rgb(0, 174, 204);
}
.kanban-board{
  .addCardBtn{
    margin-top: 15px;
    margin-bottom: 15px;
  }
}
.kanban-lane {
  .panel-body{
    background-color: #E2E4E6;
  }
  .kanban-card {
    transition: all .3s;
    color: #0143A3;
    .panel-body{
      background-color: white;
    }
    &:hover {
      box-shadow: 0 4px 4px rgba(1, 67, 163, .24), 0 0 4px rgba(1, 67, 163, .12), 0 6px 18px rgba(17, 103, 155, 0.12);
      transform: translate3d(0, -2px, 0);
      transition: all .3s;
    }
  }
}
